.* {
    box-sizing: border-box;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.toolip .tooliptext{
    visibility: hidden;
    width: 30%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
.toolip:hover .tooliptext{
    visibility: visible;
}


@media (max-width: 500px)
{
        .back_pic{
        background: url("src/bac_pic.jpg") no-repeat;
        background-size: cover;
        padding-top: 30%;
    }

    .user{
        margin-top: -52px;
        margin-left: auto;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end
    }
    .username{
        font-size: 20px;
        color: white;
    }
    .avatar{
        padding: 2px;
        border: 1px solid #ccc;
        margin:0 10px;
        background: white;
    }

    .contents
    {
        display: flex;
        padding: 20px 15px;
        border-bottom: 2px solid #ccc;
    }


    .left_row{
        width: 40px;
        height: 40px;
        margin-right: 10px;
        background: transparent;
        justify-content: flex-start;

    }

    .small_avatar{
            border: 1px;
        border-radius: 2px;
    }

    .right_row{
        justify-content: flex-end;
        width: 100%;
    }

    .username_contents{
        color: cornflowerblue;
        font-size: 15px;
    }

    .text_contents{
        margin-top: 0;
        font-size: 18px;
    }



    .single_image{
        margin-bottom: 10px;
    }

    #artilang{
        width:40%;
    }

    .time_staple{
        color: darkgrey;
    }

    .reply{
        background-color: #f3f3f3;
    }

    .reply-iine{
        border-bottom: 1px solid #333;
    }

    .reply-iine_nocomment{
        flex: auto;
    }

    .icon-iine {
        display: inline-block;
        vertical-align: -3px;
        width: 16px;
        height: 16px;
        background: url(./src/iine.png) no-repeat;
        background-size: cover;
    }

    .reply-who{
        color: cornflowerblue;
    }

    .pics{
        margin-top: 0;
        list-style: none;
        display: inline-block;
        padding-inline-start: 0px;
    }

    .single_pic{
        float: left;
        width: 150px;
        height: 150px;
        margin-left: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        background-repeat: no-repeat;
        background-size: contain%;
    }

}





@media (min-width:500px)
{
        .back_pic{
        background: url("src/bac_pic.jpg") no-repeat;
        background-size: cover;
        padding-top: 30%;
    }
    
    .user{
        margin-top: -60px;
        margin-left: auto;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end
    }
    .username{
        font-size: 35px;
        color: white;
    }
    .avatar{
        padding: 2px;
        border: 1px solid #ccc;
        margin:0 10px;
        background: white;
        width: 80px;
        height: 80px;
    }
    
    
    .contents
    {
        display: flex;
        padding: 20px 15px;
        border-bottom: 2px solid #ccc;
    }

    
    .left_row{
        width: 60px;
        height: 60px;
        margin-right: 10px;
        background: transparent;
        justify-content: flex-start;

    }

    .small_avatar{
        border: 5px;
        border-radius: 2px;
        width: 60px;
        height: 60px;
        
    }

    .right_row{
        justify-content: flex-end;
        width: 100%;
    }

    .username_contents{
        color: cornflowerblue;
        font-size: 25px;
    }

    .text_contents{
        margin-top: 0;
        font-size: 20px;
    }



    .single_image{
        margin-bottom: 10px;
    }

    #artilang{
        width:40%;
    }

    .time_staple{
        color: darkgrey;
    }

    .reply{
        background-color: #f3f3f3;
    }

    .reply-iine{
        border-bottom: 1px solid #333;
    }

    .reply-iine_nocomment{
        flex: auto;
    }

    .icon-iine {
        display: inline-block;
        vertical-align: -3px;
        width: 16px;
        height: 16px;
        background: url(./src/iine.png) no-repeat;
        background-size: cover;
    }

    .reply-who{
        color: cornflowerblue;
    }

    .pics{
        margin-top: 0;
        list-style: none;
        display: inline-block;
        padding-inline-start: 0px;
    }

    .single_pic{
        float: left;
        width:200px;
        height: 200px;
        margin-left: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        background-repeat: no-repeat;
        background-size: contain%;
    }

}

